.message {
    font-weight: 600;
    color: rgb(132, 22, 22);
}

.navbar {
    background-color: rgb(18, 129, 240);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(20, 91, 158);
    padding: 8px 5px 8px 5px;
}

header nav {
    float: left;
    width: 77%;
    margin: 10px auto 10px -7%;
 }
 
.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 